name: Run Benchmarks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    if: False # Running the benchmarks on the github hosted runners takes too long (>1 hour)
    env:
      CI_RUN_BENCHMARKS: True
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          # cache: 'pip' # Caching didn't make the CI faster and cache is quite big (4GB)

      - run: pip install -e ".[test,gluonts,hfdataset]" --extra-index-url https://download.pytorch.org/whl/cpu
      - run: pytest tests/test_chronos_zs.py
